.contatos {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: 0 auto;
  }
.emailInput{
   width: 35% !important;
}
.nomeInput{
    width: 70% !important;
}
.senhaInput{
    width: 35% !important;
}
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 0px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
.formulario{
    padding: 100px 0px !important;
    
}
.botaoCriar{
    width: 30%  !important;
    margin-left: 560px !important;
}
.inputs{
    margin-top: 50px  !important;
    margin-left: 590px !important;
}